<ng-container *ngIf="baseUnits$ | async as baseUnits">
  <form #unitForm="ngForm" (ngSubmit)="onSubmit(unitForm)" baseUnitFormValidator> <!-- FormGroup -->
    <ng-container *ngIf="appStateService.debugMode() && unitForm.form.controls['unitName']">
      <span>Debug Mode: {{appStateService.debugMode()}}</span>
      <pre>UNITNAME control state:</pre>
      <pre>Valid ? {{unitForm.form.controls['unitName'].valid}}</pre>
      <pre>Dirty ? {{unitForm.form.controls['unitName'].dirty}}</pre>
      <pre>Touched ? {{unitForm.form.controls['unitName'].touched}}</pre>
      <pre>Pristine ? {{unitForm.form.controls['unitName'].pristine}}</pre>
      <pre>Value unitName: {{unitForm.form.controls['unitName'].value}}</pre>
      <form-errors [form]="unitForm.form"/>
    </ng-container>
   
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile [colspan]="1">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="es. L per 'litri'" appAllCaps [(ngModel)]="unit.name" name="unitName" [ngModelOptions]="{updateOn: 'blur'}" required [nameUnique]="unitService" [validateUppercase]="true" >
          <!-- FormControl -->
          @if (unitForm.form.controls['unitName'] && unitForm.form.controls['unitName'].hasError('required')) {
          <mat-error>Il nome e' obbligatorio</mat-error>
          }
          @if (unitForm.form.controls['unitName'] && unitForm.form.controls['unitName'].hasError('nameUnique')) {
            <mat-error>Il nome e' gia' esistente</mat-error>
            }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-checkbox [(ngModel)]="isBaseUnit" (change)="onCheckboxChange($event)" name="unitIsBase">
          Unita' di base ({{isBaseUnit}})
        </mat-checkbox>
        @if (unitForm.hasError('baseUnitInvalid')) {
          <mat-error>Unita di base e conversione sono obbligatori</mat-error>
        }
      </mat-grid-tile>
      <ng-container *ngIf="!isBaseUnit">
        <mat-grid-tile [colspan]="1">
          <mat-form-field>
            <mat-label>Unita' base</mat-label>
            <mat-select [(ngModel)]="unit.baseUnit" name="baseUnit">
              @for (baseUnit of baseUnits; track baseUnit) {
              <mat-option [value]="baseUnit">{{baseUnit.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-form-field>
            <mat-label>Conversione</mat-label>
            <input type="number" matInput [(ngModel)]="unit.conversionRatio" name="conversion"
              placeholder="Inserisci un numero" pattern="^[0-9]+(\.[0-9]+)?$">
            <mat-hint>Separatore: .</mat-hint>
            @if(unitForm.valid) {
              <mat-hint>1 {{unitForm.controls['unitName'].value}} = {{unitForm.controls['conversion'].value}} {{unit.baseUnit?.name}}</mat-hint>
            } 
            @if (unitForm.form.controls['conversion'] && (unitForm.form.controls['conversion'].hasError('pattern') ||
            unitForm.form.controls['conversion'].hasError('number'))) {
            <mat-error>Deve essere un <strong>numero</strong></mat-error>
            }
          </mat-form-field>
          
        </mat-grid-tile>
      </ng-container>
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" type="submit" [disabled]="!unitForm.form.valid">Salva</button>
      </mat-grid-tile>

    </mat-grid-list>


  </form>
</ng-container>