<ng-container *ngIf="baseUnits$ | async as baseUnits">
    <form (ngSubmit)="onSubmit()" #unitForm="ngForm">
        <div class="form-group">
            <label for="base">Base Unit</label>
            <select class="form-control" id="baseUnit"
                    required
                    [(ngModel)]="unit.baseUnit" name="baseUnit"
                    #baseUnit="ngModel">
              <option *ngFor="let bUnit of baseUnits" [value]="bUnit">{{bUnit}}</option>
            </select>
            <div [hidden]="baseUnit.valid || baseUnit.pristine" class="alert alert-danger">
              Power is required
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!unitForm.form.valid">Submit</button>
      <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button> -->
</form>
</ng-container>